# Base de Datos
DATABASE_URL=postgresql://gas_user:gas_password@db:5432/gas_db
DB_USER=gas_user
DB_PASSWORD=gas_password
DB_NAME=gas_db
DB_HOST=db
DB_PORT=5432

# FastAPI
API_TITLE=Inventario de Gas
DEBUG=False
LOG_LEVEL=info

# Adminer
ADMINER_PORT=8080

CORS_ORIGINS=http://localhost:5173,http://localhost:3000